VITE_SUPABASE_URL=https://frzubfmwigxfpueducqp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyenViZm13aWd4ZnB1ZWR1Y3FwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMTUxNzMsImV4cCI6MjA5MjY5MTE3M30.ASTzOEBW2NCJprx8iClm-B-L9aQiwd5RjP7qHDwI4w4
