VITE_SUPABASE_URL=https://uitglzdznidowemfqcrx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpdGdsemR6bmlkb3dlbWZxY3J4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMTIxMTYsImV4cCI6MjA5MjY4ODExNn0.0hukdL_9tQXcH9KWSGbVOi1c6qxBJq5fz11azhrT1M4
